# Exploratory Data Analysis

**Objetivos**  
- Conocer la estructura y dimensiones del dataset.  
- Identificar valores faltantes y tipos de datos.  
- Visualizar distribuciones univariantes de las variables.  
- Explorar relaciones bivariantes (correlaciones, contigencia).

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
import yaml
with open('../../config/mlp_config.yaml', 'r') as file:
    config = yaml.safe_load(file)
    
df = pd.read_excel(f"../../{config['data_paths']['raw']}")
print("Dimensiones:", df.shape)
display(df.head())
display(df.info())
display(df.describe(include="all"))

Dimensiones: (119, 24)

,No,Nombre y Apellidos,Edad,Sexo,Dirrección,Municipio,Fecha,Hora,Antecedentes Patológicos,Causa,...,T med (ºC),Hr med (%),precipitaciones (mm),Pe med (hPa),tiempo quirúrgico,Tipo de tratamiento,Evolucion al mes,Evolucion a los 3 meses,Evolucion a los 6 meses,Complicaciones
0,1,Ana E. Lazo Alfonso,84,f,Plácido 22,Sagua,2023-01-01 00:00:00,16:30:00,HTA,Caida de sus pies,...,21.0,81,0.0,1017.2,30-60 mint,osteosintesis,Bien,Bien,bien,no
1,2,Enma Salazar Núñez,87,f,9na Ave Norte 19,Qdo,2018-01-03 00:00:00,16:30:00,"Epilepsia, ATI",Caida de sus pies,...,20.0,83,0.6,1012.6,30-60 mint,osteosintesis,Bien,Bien,mal,perdida fijación
2,3,Ada Suarez Perez,76,f,Calzada Pueblo Nuevo # 7,Cifuentes,2018-01-03 00:00:00,01:00:00,"HTA, CI",Caida de sus pies,...,20.0,83,0.6,1012.6,30-60 mint,osteosintesis,Bien,Bien,bien,no
3,4,Elizabeth Denis Machado,77,f,Mariana Grajales,Cifuentes,2018-01-04 00:00:00,01:00:00,Demencia,Caida de sus pies,...,16.7,84,0.5,1016.6,NaN,no operado,Bien,Bien,bien,no
4,5,José M Gonzalez Guerra,86,m,Narciso López # 8,Cifuentes,2018-01-05 00:00:00,16:00:00,HTA,Caida de sus pies,...,17.9,61,0.0,1020.8,60-90 min,protesis,Bien,Bien,bien,no

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   No                        119 non-null    int64
 1   Nombre y Apellidos        119 non-null    object
 2   Edad                      119 non-null    int64
 3   Sexo                      119 non-null    object
 4   Dirrección                119 non-null    object
 5   Municipio                 119 non-null    object
 6   Fecha                     119 non-null    object
 7   Hora                      119 non-null    object
 8   Antecedentes Patológicos  119 non-null    object
 9   Causa                     119 non-null    object
 10  Clasificación             119 non-null    object
 11  Localización              119 non-null    object
 12  T max (ºC)                119 non-null    float64
 13  T min (ºC)                119 non-null    float64
 14  T med (ºC)                119 non-null    float64
 15  Hr med (%)                119 non-null    int64
 16  precipitaciones (mm)      119 non-null    float64
 17  Pe med (hPa)              119 non-null    float64
 18  tiempo quirúrgico         116 non-null    object
 19  Tipo de tratamiento       119 non-null    object
 20  Evolucion al mes          119 non-null    object
 21  Evolucion a los 3 meses   119 non-null    object
 22  Evolucion a los 6 meses   119 non-null    object
 23  Complicaciones            119 non-null    object
dtypes: float64(5), int64(3), object(16)
memory usage: 22.4+ KB

None

,No,Nombre y Apellidos,Edad,Sexo,Dirrección,Municipio,Fecha,Hora,Antecedentes Patológicos,Causa,...,T med (ºC),Hr med (%),precipitaciones (mm),Pe med (hPa),tiempo quirúrgico,Tipo de tratamiento,Evolucion al mes,Evolucion a los 3 meses,Evolucion a los 6 meses,Complicaciones
count,119.000000,119,119.000000,119,119,119,119,119,119,119,...,119.000000,119.000000,119.000000,119.000000,116,119,119,119,119,119
unique,NaN,119,NaN,2,111,5,100,49,63,12,...,NaN,NaN,NaN,NaN,5,6,2,2,5,5
top,NaN,Ana E. Lazo Alfonso,NaN,f,San Diego,Cifuentes,2018-04-18 00:00:00,18:00:00,HTA,Caida de sus pies,...,NaN,NaN,NaN,NaN,30-60 mint,osteosintesis,Bien,Bien,Bien,Bien
freq,NaN,1,NaN,85,3,29,3,10,24,103,...,NaN,NaN,NaN,NaN,73,67,115,115,64,64
mean,60.000000,NaN,80.764706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.972269,77.714286,4.273950,1015.370588,NaN,NaN,NaN,NaN,NaN,NaN
std,34.496377,NaN,8.856393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.747138,6.276325,15.666998,2.394887,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,53.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.700000,58.000000,0.000000,1010.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,30.500000,NaN,75.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.300000,74.000000,0.000000,1013.900000,NaN,NaN,NaN,NaN,NaN,NaN
50%,60.000000,NaN,82.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.300000,78.000000,0.000000,1015.100000,NaN,NaN,NaN,NaN,NaN,NaN
75%,89.500000,NaN,87.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.200000,82.000000,0.850000,1016.700000,NaN,NaN,NaN,NaN,NaN,NaN
max,119.000000,NaN,102.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.900000,95.000000,115.300000,1021.700000,NaN,NaN,NaN,NaN,NaN,NaN